.home-container {
  background-color: #e0e0e0;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 50%;
  max-width: 600px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: var(--light-shadow);
}

.quote-text {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.date-text {
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 15px;
}

.home-image {
  width: 150px;
  height: auto;
  margin-top: 15px;
}
