.exercise-form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: var(--light-shadow);
}

.exercise-form label {
  font-weight: bold;
  margin-top: 10px;
}

.exercise-form input,
.exercise-form select {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.exercise-form button {
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.exercise-form button:hover {
  opacity: 0.8;
}
