.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
  color: white;
}

.NavBar {
  a {
    border-radius: 0.8vmin;
    padding: 0.5vmin 1.5vmin;
    text-decoration: none;
    color: #1a1a1a;
  }

  .nav-links a, .logout-btn {
    margin-right: 15px;
    color: white;
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.logout-btn:hover {
    text-decoration: underline;
}

  a:hover {
    background-color: #1a1a1a;
    color: whitesmoke;
  }

  a.active {
    background-color: rebeccapurple;
    color: whitesmoke;
  }

  span {
    color: rgb(108, 9, 87);
  }
}