.NavBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--bg-color);
  box-shadow: var(--light-shadow);
  z-index: 1000;
}

.welcome-message {
  font-size: 1rem;
  font-weight: bold;
  color: var(--text-color);
}

.navbar-left h2 {
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0;
}

.navbar-right {
  display: flex;
  gap: 10px;
}

.nav-btn {
  text-decoration: none;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  background-color: var(--primary-color);
  color: white;
  transition: background-color 0.3s ease;
}

.nav-btn:hover {
  background-color: var(--text-color);
}

.logout {
  background-color: var(--secondary-color);
}
