.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white;
}


.NavBar {
  a {
    border-radius: 0.8vmin;
    padding: 0.5vmin 1.5vmin;
    border-radius: 25px;
    background-color: #1a1a1a;
    color: white;
    text-decoration: none;
  }


  a:hover {
    background-color: #1a1a1a;
    color: whitesmoke;
  }

  a.active {
    background-color: rebeccapurple;
    color: whitesmoke;
  }

  span {
    color: rgb(108, 9, 87);
  }
}