.workout-day {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  max-width: 400px;
  margin: 15px auto;
  box-shadow: var(--light-shadow);
}

.workout-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.workout-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.edit-btn, .delete-btn, .add-btn {
  padding: 8px 12px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-btn {
  background-color: #4caf50;
  color: white;
}

.delete-btn {
  background-color: #f44336;
  color: white;
}

.add-btn {
  background-color: var(--primary-color);
  color: white;
}

.no-workout-text {
  font-size: 1.3rem;
  color: #e4e4e4;
  margin-top: 10px;
}

.no-workout-text a {
  color: var(--primary-color);
}

.add-exercise-btn {
    padding: 10px;
    font-size: 14px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    display: block;
    width: 100%;
  }

  