.Footer {
  margin-top: auto;
  width: 100%;
  background-color: #f5f5f5;
  padding: 10px 0;
  text-align: center;
  position: relative;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 1200px;
  align-items: flex-start;
}

.footer-logo {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: right;
}

.footer-links {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.footer-links h3 {
  font-weight: bold;
  margin-bottom: 8px;
}

.footer-links nav {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer-links a {
  color: black;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-line {
  width: 100%;
  border: none;
  border-top: 2px solid gray;
  margin: 10px 0;
}

.footer-copyright {
  font-size: 0.9rem;
  color: rgb(54, 52, 52);
}
