.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#main-section {
 margin-top: 80px;
}

#main-section h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: var(--primary-color);
}
.Footer {
  margin-top: auto;
  width: 100%;
  background-color: var(--bg-color);
  padding: 15px;
  text-align: center;
}
