.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* #main-section {
  flex-grow: 5;
  max-width: 1200px;
  margin: auto;
  padding: 100px;
} */

.Footer {
  margin-top: auto;
  width: 100%;
  background-color: var(--bg-color);
  padding: 15px;
  text-align: center;
}
